@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  /*background: url(../img/Background.png);*/
  background-size: cover;
  display: flex;
  flex-direction: column;

  /* Avoid the IE 10-11 `min-height` bug. */
  height: 100vh;
}

/*-----------------------------------------------------*/
/*------|              GLOBAL STYLE             |------*/
/*-----------------------------------------------------*/

/*--- Logo Style --*/
.logo {
  font-size: 30px;
  font-weight: 800;
}

/*--- Content Section --*/
.content-box {
  margin: 8rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 10px 2px #b3b3b3;
  box-shadow: 0px 0px 10px 2px #b3b3b3;

  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

main h3 {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 2rem;
}

main p {
  margin: 2rem 1rem 0;
  font-size: 1em;
  color: #4b4b4b;
}

hr {
  margin-top: 3.4rem;
}

/*--- Form Section --*/
main input {
  margin-top: 0.8rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: 0.5rem 3rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  color: white;
  background-color: #1ebba3;
  border-color: #1ebba3;
}

/*--- Error Section --*/
.error-box img {
  width: 3rem;
  margin: 0.5rem;
}

.error-box {
  margin-top: 1rem;
  margin-bottom: 0;
}

/*--- Footer Section --*/
/*.forfooter {
  background-color: #40474e;
  color: white;
  padding: 1.7rem;
  height: 5rem;

  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. 
  flex-shrink: 0;
}

footer p {
  margin: 0;
}

/* media query for 767px */
@media screen and (max-width: 767px) {
  .logo {
    width: 12rem;
  }

  main h3 {
    font-size: 1.6rem;
  }
}

/*-----------------------------------------------------*/
/*------|           ADDINTIONAL STYLE           |------*/
/*-----------------------------------------------------*/

/*--- Login Page --*/
#password-forgot {
  text-align: right;
}

/*--- Forgot Password Page --*/
.reset-password-page h3 {
  color: #0087dc;
}
